node_modules/
**/node_modules/
.pnpm-store/
.turbo/
.expo/
.turbo
.expo
dist
build
coverage
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
.DS_Store
Thumbs.db

**/node_modules
**/.expo
**/dist
**/build
**/coverage

apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/ios/build

*.jks
*.keystore
*.p8
*.p12
*.mobileprovision